html,
body {
    background-color: @QPalette::Base@;
    color: @QPalette::Text@;
}

a:link {
    color: @QPalette::Link@;
}

a:visited {
    color: @QPalette::LinkVisited@;
}

/* TODO: add further QPalette stuff like QPalette::Highlight, QPalette::HighlightedText */
